@import '../../styles/variables';

$primary-gradient: $primary-clr-500, $secondary-clr-500, $primary-clr-500;

.button {
    cursor: pointer;
    border-radius: 0.3rem;

    &--primary {
        border: none;
        padding: 1.6rem $p-lg;
        background-image: linear-gradient(to right, $primary-gradient);
        background-size: 200%;
        color: $light-clr-100;
        transition: background-position 0.4s ease;

        &:hover {
            background-position: right center;
        }
    }

    &--secondary {
        padding: $p-sm $p-lg;
        border: 0.1rem solid $tertiary-clr-500;
        background-color: $tertiary-clr-500;
        color: $light-clr-100;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: $dark-clr-900;
        }
    }
}
