@import '../../styles/variables';

.toolbar {
    padding: $p-xs;
    $border: 0.1rem solid $light-clr-300;
    border-bottom: $border;
    border-top: $border;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &__search {
        width: 100%;
        max-width: 35rem;
    }

    &__button {
        &--active {
            background-color: $light-clr-100;
            border: 0.1rem solid $tertiary-clr-500;
            color: $default-clr;
            cursor: default;

            &:hover {
                background-color: $light-clr-100;
            }
        }
    }
}
